#----------------------Input & Output--------------------
verbose = 0

dataId = holiday
train_desc = /media/F21843B31843759F/wzhang/ins/holiday/image_desc_new/
index_desc = /media/F21843B31843759F/wzhang/ins/holiday/image_desc_new/
query_desc = /media/F21843B31843759F/wzhang/ins/holiday/query_desc_new/

num_ret = 30

#-----------------------feature--------------------------
dim = 128

#-------------------------clustering---------------------
# num of points sampled per file. used when sampling matrix
num_per_file = 0.03
nt = 8
attempts = 2
T = 10000
iter = 20

bf = 150
num_layer = 2

#------------------------index & search-------------------
ma = 3

#-----------------------HE & WGC--------------------------
he_len = 32
ht = 10
pmat = pmat_32.mat
im_size = 1000

# search_mode: 1: plain search, 2: search with he
search_mode = 3
