#----------------------Input & Output--------------------
verbose = 0

dataId = qa
train_desc = /media/F21843B31843759F/wzhang/ins/QA/core_set/image_desc/
index_desc = /media/F21843B31843759F/wzhang/ins/QA/core_set/image_desc/
query_desc = /media/F21843B31843759F/wzhang/ins/QA/core_set/query_desc_fg/

num_ret = 1000

#-----------------------feature--------------------------
dim = 128

#-------------------------clustering---------------------
# num of points sampled per file. used when sampling matrix
num_per_file = 0.02
nt = 8
attempts = 3
T = 10000
iter = 20

bf = 100
num_layer = 3

#------------------------index & search------------------
ma = 5

#-----------------------HE & WGC-------------------------
he_len = 32
ht = 10
pmat = pmat_32.mat
im_size = 640

# search_mode: 1: plain search, 2: he, 3: wgc, 4: ewgc 5: single, 6: triangle
search_mode = 6
