#----------------------Input & Output--------------------
verbose = 0

dataId = trec11_video
train_desc = /media/F21843B31843759F/wzhang/ins/trec11/DATA/RAW/desc/
index_desc = /media/F21843B31843759F/wzhang/ins/trec11/DATA/RAW/desc_video/
query_desc = /media/F21843B31843759F/wzhang/ins/trec11/DATA/RAW/query_desc_video/

num_ret = 1000

#-----------------------feature--------------------------
dim = 128

#-------------------------clustering---------------------
# num of points sampled per file. used when sampling matrix
num_per_file = 0.02
nt = 8
attempts = 3
T = 10000
iter = 20

bf = 353
num_layer = 2

#------------------------index & search-------------------
ma = 4

#-----------------------HE & WGC--------------------------
he_len = 32
ht = 10
pmat = pmat_32.mat
im_size = 800

# search_mode: 1: plain search, 2: search with he
search_mode = 2
